DATABASE_URL="postgresql://skilltradingdb_zs0b_user:ZxhzJe2dj7bot5pZ4eiI0qq4BUSzfiXN@dpg-d8lsb3bbc2fs73ea7k90-a/skilltradingdb_zs0b"
JWT_SECRET="d447f3259c052776453f838ae0739f2416e0015ba1e5705cf9b4f208af466387"
PORT=10000
NODE_ENV=production
FRONTEND_URL=http://SkillTrading.onrender.com
